<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdjh.mapper.OrderMapper">

    <select id="selectOrderByOrder" resultType="com.pdjh.entity.Order">
        SELECT * FROM order_info
        <where>
            <if test=" order.customerNum != null and order.customerNum != '' ">
                AND customer_num = #{order.customerNum}
            </if>
            <if test=" order.businessType != null and order.businessType != '' ">
                AND business_type = #{order.businessType}
            </if>
            <if test=" order.employeeNum != null and order.employeeNum != '' ">
                AND employee_num = #{order.employeeNum}
            </if>
        </where>
        ORDER BY order_creat_time LIMIT #{pageDto.current},#{pageDto.limit};
    </select>

    <update id="updateConsumerOrderFlag" parameterType="String">
        UPDATE order_info
        SET order_flag = #{orderFlag}
        WHERE order_num = #{orderNum}
    </update>


</mapper>