<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdjh.mapper.OrderMapper">

    <!--查询结果-->
    <update id="clearData">
       UPDATE order_info SET order_flag = '已关闭'
       WHERE order_flag
       IN ('未受理','已受理','已取消')
    </update>

    <!--查询结果-->
    <select id="selectOrderByOrder" resultType="com.pdjh.entity.Order">
        SELECT * FROM order_info
        <where>
            <if test=" order.customerNum != null and order.customerNum != '' ">
                AND customer_num = #{order.customerNum}
            </if>
            <if test=" order.businessType != null and order.businessType != '' ">
                AND business_type = #{order.businessType}
            </if>
            <if test=" order.orderFlag != null and order.orderFlag != '' ">
                AND order_flag = #{order.orderFlag}
            </if>
            <if test=" order.employeeNum != null and order.employeeNum != '' ">
                AND employee_num = #{order.employeeNum}
            </if>
        </where>
        ORDER BY order_creat_time LIMIT #{pageDto.current},#{pageDto.limit};
    </select>

    <!--统计数量-->
    <select id="countOrderByOrder" resultType="Integer">
        SELECT count(1) FROM order_info
        <where>
            <if test=" order.customerNum != null and order.customerNum != '' ">
                AND customer_num = #{order.customerNum}
            </if>
            <if test=" order.businessType != null and order.businessType != '' ">
                AND business_type = #{order.businessType}
            </if>
            <if test=" order.employeeNum != null and order.employeeNum != '' ">
                AND employee_num = #{order.employeeNum}
            </if>
        </where>
    </select>

    <!--更新订单信息-->
    <update id="updateConsumerOrderFlag" parameterType="com.pdjh.entity.Order">
        UPDATE order_info
        <set>
            <if test="order.orderFlag != null and order.orderFlag != '' ">
                order_flag = #{order.orderFlag},
            </if>
            <if test="order.employeeNum != null and order.employeeNum != '' ">
                employee_num = #{order.employeeNum},
            </if>
            <if test="order.orderGrade != null and order.orderGrade != '' ">
                order_grade = #{order.orderGrade},
            </if>
            <if test="order.orderRemark != null and order.orderRemark != '' ">
                order_remark = #{order.orderRemark},
            </if>
        </set>
        WHERE order_num = #{order.orderNum}
    </update>


</mapper>