<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjkcxx.mapper.PracticeSubjectMapper">

    <!--学生查询，有条件 已审核-->
    <select id="studentSelectSubjectBySubject" resultType="com.sjkcxx.entity.PracticeSubject">
        select * from practice_subject
        <where>
            <if test=" subject.teacherNum != null and subject.teacherNum != '' " >
                and teacher_num=#{subject.teacherNum}
            </if>
            <if test=" subject.subjectName != null and subject.subjectName != '' ">
                and subject_name=#{subject.subjectName}
            </if>
            <if test=" subject.subjectType != null and subject.subjectType != '' ">
                and subject_type=#{subject.subjectType}
            </if>
            and subject_check = '已通过'
        </where>
        ORDER BY subject_people_now desc LIMIT #{pageDto.current},#{pageDto.limit};
    </select>
    <!--学生分页统计数量 已审核 -->
    <select id="studentCountSubjectBySubject" resultType="Integer">
        select COUNT(1) from practice_subject
        <where>
            <if test=" subject.teacherNum != null and subject.teacherNum != '' ">
                and teacher_num=#{subject.teacherNum}
            </if>
            <if test=" subject.subjectName != null and subject.subjectName != '' ">
                and subject_name=#{subject.subjectName}
            </if>
            <if test=" subject.subjectType != null and subject.subjectType != '' ">
                and subject_type=#{subject.subjectType}
            </if>
            and subject_check = '已通过'
        </where>
    </select>

    <!--查询，有条件-->
    <select id="selectSubjectBySubject" resultType="com.sjkcxx.entity.PracticeSubject">
        select * from practice_subject
        <where>
            <if test=" subject.teacherNum != null and subject.teacherNum != '' " >
                and teacher_num=#{subject.teacherNum}
            </if>
            <if test=" subject.subjectName != null and subject.subjectName != '' ">
                and subject_name=#{subject.subjectName}
            </if>
            <if test=" subject.subjectType != null and subject.subjectType != '' ">
                and subject_type=#{subject.subjectType}
            </if>
            <if test=" subject.subjectCheck!= null and subject.subjectCheck != '' ">
                and subject_check=#{subject.subjectCheck}
            </if>
        </where>
        ORDER BY subject_people_now desc LIMIT #{pageDto.current},#{pageDto.limit};
    </select>
    <!--分页统计数量-->
    <select id="countSubjectBySubject" resultType="Integer">
        select COUNT(1) from practice_subject
        <where>
            <if test=" subject.teacherNum != null and subject.teacherNum != '' ">
                and teacher_num=#{subject.teacherNum}
            </if>
            <if test=" subject.subjectName != null and subject.subjectName != '' ">
                and subject_name=#{subject.subjectName}
            </if>
            <if test=" subject.subjectType != null and subject.subjectType != '' ">
                and subject_type=#{subject.subjectType}
            </if>
            <if test=" subject.subjectCheck!= null and subject.subjectCheck != '' ">
                and subject_check=#{subject.subjectCheck}
            </if>
        </where>
    </select>

    <!--更新已选学科人数-->
    <update id="updateSubjectPeopleNow" parameterType="com.sjkcxx.entity.PracticeSubject">

        update practice_subject
        <if test="subject.subjectPeopleNow != null and subject.subjectPeopleNow != '' ">
            set subject_people_now = #{subject.subjectPeopleNow}
        </if>
        where subject_num = #{subject.subjectNum}
    </update>


</mapper>